{%  extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Add Secretary
{% endblock title %}


{% block navbar %}

{%  include 'navbar.html' %}

{% endblock navbar %}

{% block content %}

<div class="container-fluid">
    <div class="row" style="margin-top:3%;">
        <div class="col-md-12 col-xs-12" >
      <h2 class="justify-content-center text-center mt-1">Add a Secretary</h2>
            <form action=""  method="post">
                {% csrf_token %}
                {{ form|crispy }}
              <br>
                <button type="submit" class="btn btn-primary">Sign up</button>

            </form>
        </div>


    </div>
</div>


    {% endblock content %}